<!DOCTYPE html>
<html lang="en">
<head>
       	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
        <script src="tutorialsService.js"></script>
<div class="mainContainer" id="results" data-ng-app="TutorialsApp">
<input type="text" data-ng-model="search">
<div data-ng-controller="tutorialsCtrl">
<table class="table table-striped">
       <thead>
             <th>Link</th>
                <th>Title</th>
                <th>Image</th>
                <th>Author</th>
        </thead>
        <tbody>
                <tr data-ng-repeat="informative in informatives | filter:search">
                        <td>{{informative.url}}</td>
                        <td>{{informative.title}}</td>
                        <td>{{informative.image}}</td>
                        <td>{{informative.author}}</td>
                </tr>
        </tbody>
</table>
</div>
</div>
</body>
</html>
