<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-COMPATIBLE" content="IE-edge,chrome=1">
        <meta name="viewport" content="width=device-width, user-scaleable=no">
        <script type="text/javascript">
                function ajax_get_json() {
                        var hr = new XMLHttpRequest();
                        hr.open("GET", "tutorials.json", true);
                        hr.setRequestHeader("Content-type", "application/json", true);
                        hr.onreadystatechange = function() {
                                if(hr.readyState == 4 && hr.status == 200) {
                                        var data = JSON.parse(hr.responseText);
                                        var results = document.getElementById("results");
                                        results.innerHTML = "";
                                        for(var obj in data) {
                                                results.innerHTML += data[obj].image
                                        }
                                }
                        }
                        hr.send(null);
                        results.innerHTML = "requesting...";
                }
        </script>
       
       	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
        <script src="tutorialsService.js"></script>
        <script type="text/javascript">ajax_get_json()</script>
<div class="mainContainer" id="results" data-ng-app="TutorialsApp">
<input type="text" data-ng-model="search">
<div data-ng-controller="tutorialsCtrl">
<table class="table table-striped">
        <thead>
                <th>Link</th>
                <th>Title</th>
                <th>Image</th>
                <th>Author</th>
        </thead>
        <tbody>
                <tr data-ng-repeat="informative in informatives | filter:search">
                        <td>{{informative.url}}</td>
                        <td>{{informative.title}}</td>
                        <td>{{informative.image}}</td>
                        <td>{{informative.author}}</td>
                </tr>
        </tbody>
</table>
</div>
</div>
</body>
</html>
